.button {
  background: #9ad445;
  border-radius: 10em;
  border: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 4em;;
  height: 80px;
  line-height: 80px;
  padding: 0 40px;
  outline: 0;
}

.button.subtle {
  background: transparent;
  box-shadow: none;
  text-decoration: underline;
}
.button:disabled {
  cursor: not-allowed;
  opacity: .5;
}
