.choice {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: border-color .2s ease;
}

.choice img {
  max-width: 100%;
  max-height: 100px;
}

.choice:last-child {
  margin-right: 0;
}

.choice.selected {
  border-color: black;
}

.choice span {
  display: block;
  font-size: 1.2em;
  margin-top: 20px;
}

.choice.enum {
  max-width: 30%;
}

.choice.enum.selected {
  border-color: #8ccc3b;
  background: #8ccc3b;
  color: #fff;
}

.choice.enum span {
  margin-top: 0;
}
